<!--
Dee Brecke
3/11/23
328/application/views/admin.html
This page displays all data from the database in a table alphabetized by last name
It is accessed by clicking the admin page link on any page
-->

<include href="views/head-tags.html"></include>
<include href="views/header.html"></include>

<h1 id="adminheader">All Applicants</h1>
<div class="container-fluid">
    <div id="allApplicants">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Phone</th>
                <th>Github</th>
                <th>Experience</th>
                <th>Relocate?</th>
                <th>Bio</th>
                <th class="break-word">Mailing List Sign Up?</th>
                <th class="break-word">Mailing List Subscriptions</th>
                <th>Image</th>
            </tr>
            <repeat group="{{@allApplicants}}" value="{{@applicant}}">
                <tr>
                    <td>{{@applicant['fname']}} {{@applicant['lname']}}</td>
                    <td class="break-all">{{@applicant['email']}}</td>
                    <td>{{@applicant['state']}}</td>
                    <td>{{@applicant['phone']}}</td>
                    <td class="break-all">{{@applicant['github']}}</td>
                    <td>{{@applicant['experience']}}</td>
                    <td>{{@applicant['relocate']}}</td>
                    <td>{{@applicant['bio']}}</td>
                    <td>{{@applicant['mailing_lists_signup']}}</td>
                    <td class="break-word">{{@applicant['mailing_list_subscriptions']}}</td>
                    <td>{{@applicant['image']}}</td>
                </tr>
            </repeat>
        </table>
    </div>

</div>



