<!--
Dee Brecke
2/18/2023
3/3/2023 nothing has changed in this file
328/application/views/experience.html
This page is where the user writes all about themselves. It also gathers information on how many years
experience they have and if they are willing to relocate. The "next" button takes them to the "job-openings" page
The Github link field is required and must be a valid url, the Years Experience is also required and validated
The radio buttons are now templates using repeat groups and arrays in the data-layer-->

<include href="views/head-tags.html"></include>
<include href="views/header.html"></include>

<div class="container">
    <form action="#" method="post">
        <h1>Experience</h1>
        <hr>
        <div class="row">
            <div class="col-8" id="bio-box">
                <label for="bio" class="form-label">Biography:</label>
                <!--text box using bootstrap class to make it the same size as neighboring column-->
                <textarea class="form-control h-100" id="bio" name="bio"></textarea>
            </div>

            <div class="col-4" id="other-stuff">
                <div class="row">
                    <label for="github" class="form-label">Github Link</label>
                    <input type="text" class="form-control" id="github" name="github">
                </div>
                <!--check the validation by making sure the errors[] is empty-->
                <check if="{{ isset(@errors['github'])}}">
                    <span class="err">{{ @errors['github'] }}</span>
                </check>

                <br>
                <div class="row">
                    <label class="control-label">Years Experience</label>
                    <div class="d-flex justify-content-between">
                        <!--use repeat group to call array from data-layer-->
                        <repeat group="{{ @experience }}" value="{{ @yrs }}">
                            <label><input type="radio" name="yrs" value="{{ @yrs }}">{{ @yrs }}</label>
                        </repeat>
                    </div>
                    <!--validation-->
                    <check if="{{ isset(@errors['yrs'])}}">
                        <span class="err">{{ @errors['yrs'] }}</span>
                    </check>

                </div>
                <br>
                <div class="row">
                    <label class="control-label">Willing to Relocate?</label>
                    <div class="d-flex justify-content-between">
                        <repeat group="{{ @relo }}" value="{{ @relocate}}">
                            <label><input type="radio" name="relocate" value="{{@relocate}}">{{@relocate}}</label>
                        </repeat>
                    </div>
                </div>
                <br>
                <div class="row d-flex align-self-end">
                    <button class="btn btn-primary w-100" type="submit">Next ></a></button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>