<!--
Dee Brecke
2/18/2023
328/application/views/header.html
This file contains the header to be displayed at the top of every page except the home page
(which includes an "apply" button, and doesn't need the corporation name to be clickable to return home)-->
<body>
<div class="container-fluid">
  <header>
    <div class="bg-primary text-white p-4 col-12" id="header" >
      <div class="row">
        <div class="col-12">
          <!--Makes the company name clickable to return to home page-->
          <a href="/328/application"  class="text-white"><h1 class="corpname">ZiggyCorp</h1></a>
          <h6>It's all about the dog!</h6>
        </div>
      </div>

      <br>
      <div class=row">
        <div class ="col-6" id="job_title">
          <h4>Software Development Internship</h4>
          <h6>Renton, WA, paid, 10 weeks, summer</h6>
        </div>
        <div class ="col-6" id="admin">
          <a href="adminPage" class="text-white">Admin login</a>
        </div>
      </div>
    </div>

  </header>
</div>
<br>
