<!--This file contains the header to be displayed at the top of
 every page except the home page (which includes an "apply" button)-->
<body>
<div class="container-fluid">
  <header>
    <div class="bg-primary text-white p-4 col-12" id="header" >
      <div class="row">
        <div class="col-12">
          <a href="/328/application"  class="text-white"><h1>ZiggyCorp</h1></a>
          <h6>It's all about the dog!</h6>
        </div>
      </div>

      <br>
      <div class=row">
        <div id="job_title">
          <h4>Software Development Internship</h4>
          <h6>Renton, WA, paid, 10 weeks, summer</h6>
        </div>
      </div>
    </div>

  </header>
</div>
<br>
