<body>
<div class="container-fluid">
  <header>
    <div class="bg-primary text-white p-4 col-12" id="header" >
      <div class="row">
        <div class="col-12">
          <a href="/328/application"  class="text-white"><h1>ZiggyCorp</h1></a>
          <h6>It's all about the dog!</h6>
        </div>
      </div>

      <br>
      <div class=row">
        <div id="job_title">
          <h4>Software Development Internship</h4>
          <h6>Renton, WA, paid, 10 weeks, summer</h6>
        </div>
      </div>
    </div>
    <!--Nothing to navigate to yet, but I included a place to put it in the future
    <div class="topnav">
        <nav>
        </nav>
    </div>
    -->
  </header>
</div>
<br>
