<!--
Dee Brecke
1/15/2023
328/application/views/home.html
Home page of job application website. This page gives basic information on an internship
and describes the company in some detail. It also contains a button that takes
the user to the first part of the application form.
-->
<include href="views/head-tags.html"></include>
<body>
<div class="container-fluid">
    <!--Separate header for this page only that includes an "apply now" button and the company name
     is not clickable (already home) but is otherwise identical-->
    <header>
        <div class="bg-primary text-white p-4 col-12" id="header" >
            <div class="row">
                <div class="col-12">
                    <h1 class="corpname">ZiggyCorp</h1>
                    <h6>It's all about the dog!</h6>
                </div>
            </div>
            <br>
            <div class=row>
                <div class="d-flex justify-content-between">
                    <div id="job_title">
                        <h4>Software Development Internship</h4>
                        <h6>Renton, WA, paid, 10 weeks, summer</h6>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="apply1" role="button"
                           class="btn btn-primary" id="top-apply">APPLY NOW</a>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>
<br>
<div class="container-fluid">
    <div class="content">
        <div class="row">
            <!--Content of page aligned on left-->
            <div class="col-6">
                <h3>About the Internship</h3>
                <hr><!-- adds a horizontal line line-->
                    <p>We are searching for a software development intern who is an innovative future-thinking
                    dog-lover. At ZiggyCorp, it's all about the dog.</p><br>
                <h3>More About Us</h3>
                <hr>
                    <p>Our software department builds products to help dogs relate to their families. One of the innovative projects
                        we have started is a database of ways in which dogs communicate. We plan to use this data to
                        develop a translation  algorithm for humans to be able to better communicate with their beloved
                        four-legged friends. We are also working toward developing VR and AR virtual trainer apps.
                    </p>
                    <p>In addition to our innovative software, we provide full-service care for all of our customers' dogs
                        needs. These services are on site and include veterinary services, trainers (behavioral and agility),
                        groomers, nutritionists, and boarding. We also have a great retail outlet with all the best treats,
                        food, toys, and equipment. Don't see it in the store? Just ask and we will order it. </p>
                    <p>
                        Everyone here at ZiggyCorp loves dogs. Our offices are all dog-friendly, and we encourage all of our team members
                        to bring their dogs to work with them. As part of our benefits package, all team members receive vouchers to take
                        part in any of our dog services. When you bring your dog to work and need a break, you can board him for an hour or
                        even the whole day. You also have access to open the dog park (multiple dogs at a time),
                        the agility course, and the dog run (one dog at a time) any time you or your fur-baby need to get some energy out.
                    </p><br>
                <h3>Meet Our Team</h3>
                <hr>
                <div class="quotes">
                    <p><em>"This team is amazing! My dogs and I love the atmosphere here."</em> -Melody, Senior Developer</p>
                    <p><em>"The culture of inclusion, especially with the dogs, is very important to us.
                        We often come up with great ideas while we're playing with our dogs in the dog run."</em>-Dee, CEO</p>
                    <p><em>"I love how creative everyone here is. We are all open to new ideas and love growing,
                        innovating, and learning from one another. Every member of the team is family."</em>-Marcus, Project Manager</p>
                    <p><em>"Roo roo roo roo roo"</em>-Ziggy, mascot and namesake</p>
                </div>
                <hr>

                <div class="buttonDiv">
                    <a href="apply1" role="button"
                       class="btn btn-primary" id="apply">APPLY NOW</a>
                </div>
            </div>
            <div class="col-6">
                <!--Picture aligned on the right-->
                <img src="images/ZiggyFeatherSmall.jpg" class="img-fluid" alt="Picture of Ziggy the Dog holding a feather" id="feather">
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<!--Javascript bootstrap link for future use-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
