<include href="views/head-tags.html"></include>
<include href="views/header.html"></include>

<div class="container">
    <form action="#" method="post">
        <h1>Personal Information</h1>
        <hr>
        <div class="row" id="row1">
            <div class="col-8" id="info-column">
                <div class="row" id="namefields">
                    <div class="col-6">
                        <label for="fName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="fName" name="fName" required>
                    </div>
                    <div class="col-6">
                        <label for="lName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lName" name="lName" required>
                    </div>
                </div>
                <div class="row" id="emailfield">
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
            </div>
            <!--I want to move this box within its div and add some shading to the background-->
            <div class="col-4" id="sidebar">
                <div class="row">
                    <div class="col-12 border" id="privacy-policy">
                        <p><b>Note:</b> All information entered is protected by our <b>privacy policy.</b>
                            Profile information can be viewed by others with your permission.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- State field needs to be select, defaulted to WA, not text input-->
        <div class="row" id="row2">
            <div class="col-4">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" id="state" name="state" required>
            </div>
            <div class="col-4">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>
            <div class="col-4 d-flex align-items-end">
                <button class="btn btn-primary w-100"><a href="apply1">Next ></a></button>
            </div>
        </div>

    </form>

</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>