<!--
Dee Brecke
3/9/2023
This page displays that an application has been submitted. It's an addition that wasn't required, but I felt
completed the form. The data is not entered into the database until the button is clicked
-->

<!-- -->
<include href="views/head-tags.html"></include>
<include href="views/header.html"></include>
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h2>Thank you for submitting your application.</h2>
            <h3>ZiggyCorp appreciates your interest.</h3>
        </div>
        <div class="col-3">
        </div>

    </div>

</div>



</body>
</html>