<include href="views/head-tags.html"></include>
<include href="views/header.html"></include>


<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Name: {{@SESSION.fName}} {{@SESSION.lName}}</p>
            <hr>
            <p>Email: {{@SESSION.email}}</p>
            <hr>
            <p>State: {{@SESSION.state}}</p>
            <hr>
            <p>Phone: {{@SESSION.phone}}</p>
            <p>GitHub link: {{@SESSION.github}}</p>
            <hr>
            <p>Experience: {{@SESSION.experience}} years</p>
            <hr>
            <p>Willing to relocate? {{@SESSION.relo}}</p>
            <hr>
            <!--this is something I need help on-->
            <p>Mailing lists: </p>

        </div>
        <div class="col-6">
            <img src="images/ZiggyFeatherSmall.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <h3>Summary</h3><br>
            <p>{{@SESSION.bio}}</p>
        </div>
    </div>


</p>
</div>
</body>
</html>