<include href="views/head-tags.html"></include>
<include href="views/header.html"></include>

<h1>summary page</h1>

<p>My name is {{@SESSION.fName}} {{@SESSION.lName}}.  My email address is
    {{@SESSION.email}}. I live in {{@SESSION.state}}. My phone number is {{@SESSION.phone}}</p>

<br>

<p>Here is what I said about myself: {{@SESSION.bio}}</p>
<p>My github link: {{@SESSION.github}}</p>
<p>I have {{@SESSION.experience}} years experience.</p>
<p>Willing to relocate? {{@SESSION.relo}}</p>

<p>Mailing lists: {{@SESSION.javascript}}
    {{@SESSION.PHP}}
    {{@SESSION.java}}

</p>

</body>
</html>