<!--
Dee Brecke
 3/3/2023
 328/application/views/summary-page.html
 This page displays all the information that was entered into the forms on the other pages
 All information uses f3 templates. Now it also checks to see which type of object is being
 passed in, and if it's not the applicant that wants to subscribe to mailing lists, that
 section is omitted in the display.
 -->
<include href="views/head-tags.html"></include>
<include href="views/header.html"></include>

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Name: {{ @SESSION.newApplicant->getFName() }} {{ @SESSION.newApplicant->getLName() }} </p>
            <hr>
            <p>Email: {{ @SESSION.newApplicant->getEmail() }}</p>
            <hr>
            <p>State: {{@SESSION.newApplicant->getState()}}</p>
            <hr>
            <p>Phone: {{@SESSION.newApplicant->getPhone()}}</p>
            <hr>
            <p>GitHub link: {{@SESSION.newApplicant->getGithub()}}</p>
            <hr>
            <p>Experience: {{@SESSION.newApplicant->getExperience()}} years</p>
            <hr>
            <p>Willing to relocate? {{@SESSION.newApplicant->getRelocate()}}</p>
            <hr>
            <!--putting data into array and using php on index page prints all boxes checked here -->
            <check if="{{ @SESSION['newApplicant'] instanceof Applicant_SubscribedToList }}">
                <p>Mailing lists:
                    <check if="{{@SESSION.newApplicant->getSelectionsJobs()}} !== []">
                        {{@SESSION.newApplicant->getSelectionsJobs()}},</check>
                    <check if="{{@SESSION.newApplicant->getSelectionsVerticals()}} !==[]">
                        {{@SESSION.newApplicant->getSelectionsVerticals()}}</check>
                </p>
                <hr>
            </check>

        </div>
        <div class="col-6">
            <!--Temporary placeholder image-->
            <img src="images/sirzigs.png" id="sirzigs" alt="Picture of Ziggy wearing a scarf">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <h3 id="summary-header">Summary</h3><br>
            <p>{{ @SESSION.newApplicant->GetBio() }}</p>
        </div>
    </div>

   <div class="row">
       <div class="col-3">
       </div>
       <div class="col-6 d-flex align-items-end">
           <button class="btn btn-primary w-100" type="submit"> Submit My Application!</button>
       </div>
       <div class="col-3"></div>
   </div>
    <br>
    <br>
</div>
</body>
</html>