/*
Dee Brecke
2/18/2023
3/3/2023 --no new styles have been added
328/application/styles/styles.css
This file contains all of the styles for the application project
 */

/*center the button at bottom of page
apparently this only centers the text within
the button
*/
#adminheader{
    text-align: center;
}
#apply{
    text-align: center;
}
body{
background-color: azure;
}
.break-all{
    word-break: break-all;
}
.break-word{
    word-break: break-word;
}

/*round corners on button*/
.btn-primary{
    border-radius:10px;
    background-color: black;
}
/*THIS centers the button in the div*/
.buttonDiv{
    display: flex;
    justify-content: center;
}
.content{
    padding-right: 2rem;
    padding-left: 2rem;
}
.corpname{
    font-family: "Comic Sans MS", serif;
    text-decoration: none;
}

/*have error messages print out red*/
.err{
    color: red;
}
/*round corners on photo*/
#feather{
    border-radius: 20px;
}

/*Headings for main content centered*/
h3{
    text-align: center;
}
#privacy-policy{
    background-color: lightgrey;
    border-radius: 10px;
}
/*Indent quote section on home page*/
.quotes{
    padding-left: 2rem;
    padding-right: 2rem;
}
#sirzigs{
    border-radius: 20px;
}

/*Heading for Summary not centered*/
#summary-header{
    text-align: left;
}

table, th, td {
    border: 2px solid black;
}
th {
    text-align: center;
}