/*
This file contains all of the styles for the application project
 */
h1{
    font-family: "Comic Sans MS", serif;
    text-decoration: none;
}
body{
background-color: azure;
}
/*round corners on photo*/
#feather{
    border-radius: 20px;
}
#sirzigs{
    border-radius: 20px;
}
/*round corners on button*/
.btn-primary{
    border-radius:10px;
    background-color: black;
}
/*Headings for main content centered*/
h3{
    text-align: center;
}
/*Heading for Summary not centered*/
#summary-header{
    text-align: left;
}
/*center the button at bottom of page
apparently this only centers the text within
the button
*/
#apply{
    text-align: center;
}
/*THIS centers the button in the div*/
.buttonDiv{
    display: flex;
    justify-content: center;
}
.quotes{
    padding-left: 2rem;
    padding-right: 2rem;
}
.content{
    padding-right: 2rem;
    padding-left: 2rem;
}
#privacy-policy{
    background-color: lightgrey;
    border-radius: 10px;
}